<style>
  :root {
    --main-font-color: rgba(96, 61, 37, 1);
    --button-color: rgba(159, 126, 104, 1);
    --mainfontcolor: rgba(96, 61, 37, 1);
    --STD-TEXT-font-family: "Mulish-SemiBold", Helvetica;
    --STD-TEXT-font-weight: 600;
    --STD-TEXT-font-size: 12px;
    --STD-TEXT-letter-spacing: 0px;
    --STD-TEXT-line-height: normal;
    --STD-TEXT-font-style: normal;
  }
  
  .FOOTER {
    background-color: #e5d4b5b3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .FOOTER .div {
    background-color: #e5d4b5b3;
    width: 100%;
    height: 290px;
    position: relative;
  }
  
  .FOOTER .text-wrapper {
    position: absolute;
    width: 499px;
    top: 39px;
    left: 80px;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--mainfontcolor);
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .FOOTER .text-wrapper-2 {
    position: absolute;
    width: 200px;
    top: 123px;
    left: 80px;
    font-family: "Mulish-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--mainfontcolor);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .FOOTER .overlap {
    width: 377px;
    height: 67px;
    left: 331px;
    position: absolute;
    top: 123px;
  }
  
  .FOOTER .text-wrapper-3 {
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    font-family: "Mulish-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--mainfontcolor);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .FOOTER .text-wrapper-4 {
    position: absolute;
    width: 300px;
    top: 34px;
    left: 77px;
    font-family: "Mulish-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--mainfontcolor);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .FOOTER .call {
    position: absolute;
    width: 39px;
    height: 35px;
    top: 31px;
    left: 48px;
    object-fit: cover;
  }
  
  .FOOTER .overlap-group {
    width: 583px;
    height: 130px;
    left: 737px;
    position: absolute;
    top: 123px;
  }
  
  .FOOTER .text-wrapper-5 {
    position: absolute;
    width: 200px;
    top: 0;
    left: 383px;
    font-family: "Mulish-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--mainfontcolor);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .FOOTER .feedback-terms-of {
    position: absolute;
    width: 200px;
    top: 31px;
    left: 383px;
    font-family: "Mulish-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--mainfontcolor);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .FOOTER .mail {
    position: absolute;
    width: 38px;
    height: 35px;
    top: 31px;
    left: 0;
    object-fit: cover;
  }
  
  .FOOTER .riyamathew {
    position: absolute;
    width: 407px;
    top: 30px;
    left: 12px;
    font-family: "Mulish-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--main-font-color);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .FOOTER .whatsapp-image {
    position: absolute;
    width: 174px;
    height: 32px;
    top: 157px;
    left: 133px;
    object-fit: cover;
  }
  a {
    color: rgba(96, 61, 37, 1);
    text-decoration: none;
  }
  
  a:hover {
    color:#F7EFE4;
  }
</style>
<body>
    <div class="FOOTER">
      <div class="div">
        <p class="text-wrapper">Get in touch, we’re all ears !</p>
        <div class="text-wrapper-2">Follow us</div>
        <div class="overlap">
          <div class="text-wrapper-3">contact us:</div>
          <div class="text-wrapper-4">XXX9877766/XXX8888866</div>
          <img class="call" src="https://i.postimg.cc/cHch5TF1/Whats-App-Image-2023-10-11-at-1-00.png" />
        </div>
        <div class="overlap-group">
          <div class="text-wrapper-5">other info:</div>
          <div class="feedback-terms-of">Feedback<br />Terms of service<br />Privacy policy</div>
          <img class="mail" src="https://i.postimg.cc/8kHXykYd/mail-2.png" />
          <div class="riyamathew">
            <a href="mailto:petmedpal@gmail.com">petmedpal@gmail.com</a>
          </div>
        </div>
        <img class="whatsapp-image" src="https://i.postimg.cc/cHch5TF1/Whats-App-Image-2023-10-11-at-1-00.png" />
      </div>
    </div>
  </body>